/* spacings */
$github-spacing-4: 4px;
$github-spacing-8: 8px;
$github-spacing-12: 12px;
$github-spacing-16: 16px;
$github-spacing-20: 16px;

/* font sizes */

$github-font-size-14: 14px;
$github-font-size-16: 16px;
$github-font-size-20: 20px;
$github-font-size-25: 25px;

/* colors */

$github-primary-color: #24292f;
$github-secondary-color: #2da44e;
$github-third-color: #006eed;
$github-gray: #f6f8fa;
$github-white: #ffffff;

/* others */

$github-border-radius-20: 20px;
