.card-profile {
  &__container {
    margin: 120px;
    padding: $github-spacing-20;
    background-color: $github-white;
    border-radius: $github-border-radius-20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 4px 9px 23px -8px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 4px 9px 23px -8px rgba(0, 0, 0, 0.19);
    box-shadow: 4px 9px 23px -8px rgba(0, 0, 0, 0.19);
    width: 50vh;
    height: 100%;
  }

  &__image {
    border-radius: 50%;
  }

  &__name {
    padding: $github-spacing-12;
    font-size: $github-font-size-25;
    font-weight: 500;
  }

  &__biography {
    font-size: $github-font-size-16;
    font-weight: 300;
  }
}
