.search-profile {
  &__container {
    padding: $github-spacing-20;
    background-color: $github-primary-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 4px 9px 23px -8px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 4px 9px 23px -8px rgba(0, 0, 0, 0.19);
    box-shadow: 4px 9px 23px -8px rgba(0, 0, 0, 0.19);
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: $github-spacing-20;
  }
}
